@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton/themes/cerberus";
@import "@skeletonlabs/skeleton-svelte";

@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";

:root {
  --heading-font-family: 'Inter', sans-serif;
  --base-font-family: 'Inter', sans-serif;
  --anchor-font-family: 'inherit';
}

html, body {
  margin: 0;
  padding: 0;
}
